aside{ 
    font-size:large;
    background-color: rgba(211, 211, 211, 0.511);
    width: 30%;
    padding: 10px;
    line-height: 35px;
    margin: 5px 2px;
    display: flex;
    flex-direction: column;
}

aside h2 {
    font-size: 35px;
    font-weight: bolder;
    line-height: 40px;
    font-style: italic;
    text-align: center;
    margin: 30px;
}
aside h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin: 30px;

}
aside h4{ 
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    margin: 30px;
}
aside p {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 1460px) {
    aside {
        width: 100%;
    }
}