
header {
    width: 100%;
    display: flex;
    align-items: center;
}

header figure {
    width: 20%;
}

header figure img {
    width: 200px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

a{
    color: black;
}

header nav ul {
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;

}

nav ul li {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

ul li:hover{
    background-color: white;
}


@media (max-width: 1460px) {
    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 8%;
    }
    figure img {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 1213px){
    nav {
        display: none;
    }
}