* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color: rgb(152, 152, 152);
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor {
    background-color: white;
    width: 80%;
}