main h1 {
    background-color: rgba(211, 211, 211, 0.511);
    font-family: serif;
    font-weight: bolder;
    font-size: 5vh;
    text-align: center;
    padding: 5%;
    
}
main h2 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
main p {
    text-align: center;
    font-size: small;
    margin: 10px auto 20px; 
}
.contenedor-datos {
    width: 80%;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
}
.contenedor-datos div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contenedor-datos div label {
    font-weight: 700;
    margin: 10px 10px 0px;
    border: none;
}
.contenedor-datos div input {
    border: none;
    border-bottom: 1px solid #000000;
    height: 20px;
    width: 55vw;
}
button{
    border:none;
    height: 30px;
    width: 150px;
    background-color: rgba(211, 211, 211, 0.511);
    font-size: 20px;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}

@media (min-width: 1024px){
    .contenedor-datos {
        width: 100%;
        margin: none;
        flex-wrap: wrap;
        flex-direction: row;

    }
    .contenedor-datos div {
        margin: 50px 0px;
        font-size: large;
    }
    .contenedor-datos div input{
        width: 30vw;
    }
    .contenedor-datos div label {
        width: 50%;
    }
    button {
        margin-top: 40px;
    }
    main p {
        font-size: 2vh;
    }
    main h2 {
        font-size: 4vh;
    }

}