
footer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65em;
}
footer div {
    align-items: center;
    margin: 40px;
    font-size: medium;
    font-weight: bolder;
    
}

footer figure img {
    align-items: center;
    width: 25em;
}


@media (min-width: 1023px) {
    footer {
        background-color: beige;
    }
}