
footer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70em;
}
footer div {
    align-items: center;
    margin: 40px;
    font-size: medium;
    font-weight: bolder;
    
}

footer figure img {
    align-items: center;
    width: 25em;
}

@media screen and (max-width:1162px){
    footer {
        display: block;
        width: 100%;
        height: auto;
    }
}