
header {
    width: 100%;
    display: flex;
    align-items: center;
}

header figure {
    width: 20%;
}

header figure img {
    width: 200px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

body div header nav ul {
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;

}

body div header nav ul li {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}



@media screen and (max-width:1162px){
    nav {
        display: none;
    }
}