
header {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

header figure {
    background-color: transparent;
    width: 20%;
    height: auto;
    align-items: flex-start;
}

header figure img {
    width: 100%;
    height: 100%;
}

header nav {
    background-color: transparent;
    width: 90%;
    height: 100%;
}

body div header nav ul {
    font-weight: bolder;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

body div header nav ul li {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    text-transform: capitalize;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}